/*
 * Cough Cough - Theme Stylesheet
 *
 * jiaqi is yummy hehe
 */

@font-face {
  font-family: Cochin;
  src: url(fonts/cochin/Cochin-LT-Font.ttf) format('truetype');
}

@font-face {
  font-family: Chalkdust;
  src: url(fonts/chalkdust/Chalkdust.ttf) format('truetype');
}

@font-face {
  font-family: Lato;
  src: url(fonts/lato/Lato-Regular.ttf) format('truetype');
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --background-color: linear-gradient(180deg, rgba(14,48,82,1) 0%, rgba(17,50,84,1) 45%, rgba(56,84,113,1) 100%);
  --main-font: Cochin, Georgia, serif;
  --main-font-size: 40px;
  --main-color: #eee;
  --block-margin: 20px;
  --heading-margin: 0 0 20px 0;
  --heading-font: Montserrat, Impact, sans-serif; /*change*/
  --heading-color: #eee;
  --heading-line-height: 1.2;
  --heading-letter-spacing: -0.03em;
  --heading-text-transform: none;
  --heading-text-shadow: none;
  --heading-font-weight: normal;
  --heading1-text-shadow: none;
  --heading1-size: 3.77em;
  --heading2-size: 2.11em;
  --heading3-size: 1.55em;
  --heading4-size: 1em;
  --selection-background-color: #e7ad52;
  --selection-color: #fff; }

.reveal-viewport {
  background: linear-gradient(180deg, rgba(14,48,82,1) 0%, rgba(17,50,84,1) 45%, rgba(56,84,113,1) 100%);
  background-color: linear-gradient(180deg, rgba(14,48,82,1) 0%, rgba(17,50,84,1) 45%, rgba(56,84,113,1) 100%); }

.reveal {
  font-family: Cochin, Georgia, serif;
  font-size: 40px;
  font-weight: normal;
  color: #eee; }

.reveal ::selection {
  color: #fff;
  background: #e7ad52;
  text-shadow: none; }

.reveal ::-moz-selection {
  color: #fff;
  background: #e7ad52;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f7ebc8; 
  font-family: Cochin, Georgia, serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
 /* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal img {
  margin: 20px 0; }