/*
====================================================

  TABLE OF CONTENTS (do this at the end bc the positioning of code might change)

  - General Styling
  - Navigation Bar
  - Modals

  MEDIA QUERIES

  Most of the styling is designed from desktop first then to mobile. 
  Although this would make it load a bit slower on mobile devices, our website's performance is 
  generally very fast and our main target device would be a computer screen. Since there is a 
  limited amount of time to develop this, designing this from desktop down would be easier overall.

  There is only three media queries as there is limited time for this project.
  Max Width: 1400px -- Laptops/Tablets
  Max Width: 800px -- Phones/Smaller Tablets
  Max Width: 360px -- Smaller Phones
====================================================
*/

* {
  box-sizing: border-box;
}

.full-view { /* For title landing page, easier to position elements. */
  height:100%;
  width:100%;  
}

@media print { /* use this for rn to prevent peaking, when more time load elements dynamically instead all on html */
  * {
    display: none !important;
  }
}

/*.title {
  margin: 5% !important;
}*/

.title { /*!important is needed bc theme sheet overrides*/
  font-family: 'Chalkdust', Georgia, serif !important;
  color: #007a00 !important;
}

.landing-page {
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
}

.temp-no-display {display: none !important;}

.no-display {display: none !important;}

@media only screen and (max-width: 600px) {
  .margin-top {margin-top: 7.5%;}
  .margin-top-more {margin-top: 10%;}
}

.disable-selection { /* disable text selection (make site more app-like and less like a document) */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Edge, Opera and Firefox */
}

.no-animations {
  animation: none !important;
  -webkit-animation: none !important;
}

/*********************************************
  Virus Sprite Animation
 *********************************************/
.spriteAnimation {
  animation: MoveUpDown 10s linear infinite;
  position: absolute;
  width: 10%;
  height: 10%;
}

@keyframes MoveUpDown {
  0%, 100% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
}

/*********************************************
  Intro Animations
*********************************************/
.intro-animation-text {
  margin: 0 20% !important;
}

@media only screen and (max-width: 900px) {
  .intro-animation-text {
    margin: 0 !important;
  }
}
/*********************************************
  Button Styling
*********************************************/
.button-slide {
  color: black;
  font-weight: bold;
  background-color: rgb(173, 216, 230);
  border-radius: 0px;
  padding: 18px 36px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button-sliding-animation:hover {
  box-shadow: inset 0 0 0 50px #ff5b77;
}

.button-sliding-animation:active {
  box-shadow: inset 0 0 0 50px #ff5b77;
}

.next {
  border: none;
  outline: none;
  margin: 10px;
}

/* Button Positioning */
.center-bottom-button {
  position: absolute;
  bottom: 10%;
  left: 35%;
  right: 35%;
} 

@media only screen and (max-width: 600px) {
  .center-bottom-button {
    bottom: 10%;
    left: 20%;
    right: 20%;
  }
}

.center-bottom-button2 { /*CHANGE NAME LATER*/
  position: absolute;
  left: 35%;
  right: 35%;
  top: 130%;
} 

@media only screen and (max-width: 600px) {
  .center-bottom-button2 { /*CHANGE NAME LATER*/
    left: 20%;
    right: 20%;
    top: 100%;
  }
}


/*********************************************
  Navigation Bar
 *********************************************/
.title-shadow {
  /*text-shadow: 0px 3px 0px #7ac68a, 0px 14px 10px rgb(0 0 0 / 15%), 0px 24px 2px rgb(0 0 0 / 10%), 0px 34px 30px rgb(0 0 0 / 10%);*/  
  /*text-shadow: 2px 7px 5px rgb(0 0 0 / 30%), 0px -4px 10px rgb(255 255 255 / 30%);*/
  text-shadow: 0px -4px 10px rgb(255 255 255 / 30%), 0px 3px 0px #7ac68a, 0px 14px 10px rgb(0 0 0 / 15%), 0px 24px 2px rgb(0 0 0 / 10%), 0px 34px 30px rgb(0 0 0 / 10%);
}
#navigation {
  position: fixed;
  z-index: 20;
  bottom: 0px;
  width: 100%;
  padding: 1em 0;
  font-family: 'Cochin', Georgia, serif;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center; /*baseline or center ask her*/
}

#navbar-title {
  font-family: Chalkdust, Georgia, serif;
  font-weight: bold;
  font-size: 3.75em;
  color: #00bc27; /*maybe change color later*/
  margin: 0 0.5em;
  white-space: nowrap;
}

#navigation a {
  padding: 0 10px;
  text-decoration: none;
  color: #e0d6ff; /*ask her if she wants to change the color later*/
  font-weight: bold;
  transition: color 0.3s ease-out; /* when in hover state, change color easing out */
  -webkit-transition: color 0.3s ease-out;
  cursor: pointer;
}

#navigation a:hover {
  color: #90d4c6;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  #navbar-title {
    font-size: 3em;
    margin: 0 0.25em;
  }

  #navigation a {
    padding: 0 7px;
  }
}

/*** Mobile Navigation Menu ***/
/* Since the "Cough Cough" logo text is part of the first <nav>, it would require
   extra steps to create a hamburger menu using that <nav>. The logo itself is an 
   item in the flex  box and the same <div> containing all the anchors so that 
   would mess up the mobile menu, so instead, a new separate <nav> is used. */

#mobile-nav { /* default doesn't display bc laptop screen*/
  display: none;
}

@media only screen and (max-width: 800px) {
  #mobile-nav { /* now display it, < 800px is mobile/smaller screens */
    display: block;
  }

  .hamburger-menu {
    position: fixed;
    cursor: pointer;
    right: 1%;
    bottom: 1%;
/*    transform: translate(-5%, -50%);*/ /* line it with with logo*/
    z-index: 31;
  }

  .lines {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .mobile-nav-items {
    pointer-events: none;
    z-index: 30;
    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* positioning */
    position: fixed;
    margin-left: auto;
    height: 100vh;
    width: 100%;
    bottom: 0;
    /* styling */
    list-style: none;
    background: #425d78;
    /* animation
    using clippath to start a 100px circle from outside the view,
    then transition the circle becoming bigger to 1000px */
    clip-path: circle(100px at 150% 150%);
    -webkit-clip-path: circle(100px at 150% 150%);
    transition: all 0.8s ease-out;
  }

  #mobile-navbar-title {
    font-family: Chalkdust, Georgia, serif;
    font-weight: bold;
    font-size: 2.1em;
    color: #00bc27; /*maybe change color later*/
/*    margin: 0 0.5em;*/
    white-space: nowrap;
    margin-bottom: 0.5em;
    letter-spacing: 0.075em;
  }

  .mobile-nav-items.open {
    clip-path: circle(1500px at 150% 150%);
    -webkit-clip-path: circle(1500px at 150% 150%);
    pointer-events: all;
  }

  .mobile-nav-items li {
    opacity: 0;
  }

  .mobile-nav-items li a {
    color: #f7ebc8;
    text-decoration: none;
    border-bottom: 2px dotted;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Cochin', Georgia, serif;
    cursor: pointer;
    transition: color 0.3s ease-out; /* when in hover state, change color easing out */
    -webkit-transition: color 0.3s ease-out;
  }

  .mobile-nav-items li a:hover {
    color: #90d4c6;
  }


  .mobile-nav-items li:nth-child(1) {
    transition: all 0.4s ease 0.1s;
  }

  .mobile-nav-items li:nth-child(2) {
    transition: all 0.4s ease 0.3s;
  }

  .mobile-nav-items li:nth-child(3) {
    transition: all 0.4s ease 0.45s;
  }

  .mobile-nav-items li:nth-child(4) {
    transition: all 0.4s ease 0.6s;
  }

  .mobile-nav-items li:nth-child(5) {
    transition: all 0.4s ease 0.75s;
  }

  .mobile-nav-items li:nth-child(6) {
    transition: all 0.4s ease 0.9s;
  }

  li.fade {
    opacity: 1;
  }

  /* make logo & div smaller*/
  #navigation {
    padding: 0.75em 0;
  }

  #navbar-title {
    font-size: 1.5em;
  }

  #navigation a {
    display: none;
  }
}


/*********************************************
  Modals
 *********************************************/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /*centering*/
  transition: 200ms ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  z-index: 200; /* z placed above everything */
  background-color: #bfeae1;
  background-color: white;
  background-image: url("images/virus_pattern.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  padding: 2%;
  text-align: center;
}
/**/
/*#contact {
  height: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-header {
  border-bottom: none !important;
}

.modal-body form .data {
  height: 45px;
  margin: 40px;
}

form > div:nth-of-type(1) {
  margin: 0 40px 40px 40px !important;
}

form .data label {
  font-size: 18px;
}

form .data input{
  height: 100%;
  width: 100%;
  font-size: 17px;
  border: 1px solid silver;
}

form .data textarea {
  height: 100%;
  width: 100%;
  font-size: 15px;
  border: 1px solid silver;
}

form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}*/


/**/
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  margin: 0.75em;
  padding-bottom: 0.1em;
  display: inline-block; /* in order for bottom border to fit */
  border-bottom: 2.5px dotted rgba(34,139,34, 0.5);
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Chalkdust', Georgia, serif;
  letter-spacing: 0.4em;
  margin-right: -0.4em; /*counteract the extra spacing last letter*/
  color: darkgreen;
}

.modal-body {
  padding: 10px 15px;
  line-height: 1.4;
  opacity: 0.9;
  font-family: 'Lato', Georgia, sans-serif;
  font-weight: bold;
}

.modal button {
  background-color: #47A386;
  margin-top: 0.75em;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  padding: 10px 25px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out; 
  -webkit-transition: opacity 0.2s ease-out;
  font-family: 'Lato', Georgia, sans-serif;
}

.modal button:hover {
  opacity: 1;
}

.modal button:active {
  opacity: 1;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 0.1;
  pointer-events: all;
  z-index: 20;
}


/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .modal {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .modal {
    width: 85%;
  }
}

@media only screen and (max-width: 360px) {
  .modal {
    width: 95%;
  }
}

/*********************************************
  Counters
 *********************************************/
#counters { /* container for all counters */
  position: fixed;
  padding: 0.75em;
  color: #f7ebc8;
}

#counters > div { /* spacing btwn interior div containers*/
  margin-bottom: 0.85em;
}

.counter-title {
  font-size: 1.25em;
  letter-spacing: 0.05em;
  border-bottom: 2px dotted rgba(247, 235, 299, 0.5);
  margin-bottom: 0.2em;
}

.counter-container { /* individual container for icon + numbers */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: left;
}

.counter-container-three { /* for counter when there's a % sign (need 3) */
  grid-template-columns: auto auto auto;
}

.counter-container > img:nth-of-type(1) { /* spacing after icon */
  padding-right: 0.4em;
}

.counter-icons {
  height: 50px;
  width: 50px;
}

.counter-data {
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.5em;
}

.counter-percent {
  font-weight: bold;
  font-size: 1.5em;
}

#deaths-counter {
  color: #fdaaaa;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .counter-title { 
    font-size: 1em;
    letter-spacing: 0.04em;
  }

  #counters > div { /* spacing btwn interior div containers*/
    margin-bottom: 0.5em;
  }

  .counter-icons {
    height: 40px;
    width: 40px;
  }

  .counter-data {
    font-size: 1.35em;
  }

  .counter-percent {
    font-size: 1.35em;
  }
}

@media only screen and (max-width: 800px) {
  #counters {
    padding: 0.15em 0.5em;
  }
  .counter-title { 
    display: none;
  }

  #counters > div { /* spacing btwn interior div containers*/
    margin-bottom: 0.25em;
  }

  .counter-icons {
    height: 35px;
    width: 35px;
  }

  .counter-data {
    font-size: 1.1em;
  }

  .counter-percent {
    font-size: 1em;
  }
}

@media only screen and (max-width: 360px) {
  .counter-icons {
    height: 28px;
    width: 28px;
  }

  .counter-data {
    font-size: 1em;
  }
}
/*********************************************
  Nation Input & Info Page 
 *********************************************/
 /*Style Error Message*/ 
 #error {
  color: #ff6961;
  font-size: 0.6em;
 } 

/*styling input where user inserts name*/
#inputName {
  font-size: 0.5em;
  width: 10em;
  height: 2em;
  color: #333;
  margin-bottom: 15px;
}

/*sets font size of nation info to 0.8em*/
.nation-info {
  font-size: 0.8em;
}

/*changes color of text "choose nation name" to #e3e37c*/
.pick-name {
  color: #e3e37c;
}

/*styling mute option */
#mute {
  background: url("icons/speaker.svg") no-repeat;
  height: 3em;
  width: 3em;
  cursor: pointer;
  top: 2em;
  right: 2em;
  position: absolute;
  z-index: 30;
  display: none;
}

/*RESPONSIVE*/
@media only screen and (max-width: 800px) {
  #error {
    font-size: 0.4em;
  }

  .nation-info {
    font-size: 0.5em;
  }

  #inputName {
    font-size: 0.4em;
    width: 9em;
    height: 1.4em;
  }
}

/*********************************************
  Prompts & Answers
 *********************************************/
.prompt {
  padding-right: 15%;
  padding-left: 15%;
}

div.prompt > h6 { /* every prompt inside the .prompt div container */
  letter-spacing: 0.03em;
  line-height: 0.95;
}

.question { /* "what will you do" "how will you respond" etc */
  margin: 1.75% 10%;
  font-family: 'Chalkdust';
  color: #e0e0e0;
}

/* Answer Options Styling */
.two-option-section {
  padding: 0 22.5%; 
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  gap: 1em;
}

.three-option-section {
  padding: 0 22.5%; 
  display: grid;
  row-gap: 0.65em;
}

.four-option-section {row-gap: 0.65em;}

.three-option-row1 {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  gap: 1em;
}

.three-option-row2 {
  display: grid;
  grid-template-columns: auto;
  margin: 0 27.5%;
}

.option {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease-out; /* when in hover state, change color easing out */
  -webkit-transition: all 0.3s ease-out;
  color: #d7e1f7;
  letter-spacing: -1px;
}

.three-option {
  font-size: 22px;
  line-height: 1.2em;
}

.four-option {
  font-size: 22px;
  line-height: 1.2em;
}

.option:hover { /* change color when hovered */
  color: #90d4c6;
  transform: translate(1px, -1px);
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  div.prompt > h6 { /* every prompt inside the .prompt div container */
    letter-spacing: 0.02em;
    font-size: 0.8em;
  }

  .question { /* "what will you do" "how will you respond" etc */
    font-size: 0.8em;
  }

  .two-option-section {
    padding: 0 17.5%; 
  }

  .three-option-section {
    padding: 0 17.5%;
  }

  .three-option {
    line-height: 1em;
  }

  .four-option {
    line-height: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .prompt {
    padding: 0;
  }

  div.prompt > h6 { /* every prompt inside the .prompt div container */
    letter-spacing: 0.01em;
    font-size: 0.55em;
  }

  .question { /* "what will you do" "how will you respond" etc */
    font-size: 0.6em;
    margin: 3.5% 7.5%;
  }

  .two-option-section {padding: 0;}

  .three-option-section {
    padding: 0;
    row-gap: 0.3em;
  }

  .four-option-section {gap: 0.275em;}

  .three-option-row1 {gap: 0.3em;}

  .option {
    letter-spacing: 0.01em;
    line-height: 1.25em;
    font-size: 18px;
  }

  .three-option {
    font-size: 16px;
    line-height: 0.9em;
  }

  .four-option {
    font-size: 16px;
    line-height: 0.9em;
  }
}
@media only screen and (max-width: 600px) {
  .question {
    margin: 3.5% 0%;
  }
}

@media only screen and (max-width: 360px) {
  div.prompt > h6 { /* every prompt inside the .prompt div container */
    font-size: 0.47em;
  }

  .two-option-section {gap: 0.5em;}

  .three-option-section {row-gap: 0.25em;}

  .four-option-section {
    column-gap: 0.225em;
    row-gap: 0.3em;
  }

  .three-option-row1 {gap: 0.275em;}

  .option {
    letter-spacing: normal;
    line-height: 0.95em;
    font-size: 17px;
  }

  .three-option {
    font-size: 15px;
    letter-spacing: -0.25px;
    line-height: 0.85;
  }

  .four-option {
    font-size: 15px;
    letter-spacing: -0.25px;
    line-height: 0.85;
  }
}
/*********************************************
  Circle for Decision Result
*********************************************/
.result-circle {
  width: 525px;
  height: 525px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #D4F1F4; /*#D4F1F4 or #89cff0*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3.7em;
  justify-content: center;
  z-index: 20;
  text-align: center;
}

.result-title {
  font-size: 0.7em;
  color: #131F33;
  border-bottom: 4px dotted #cfd2d6;
  align-self: start;
  margin: 3.5em auto 0; /* top 3.5em, auto left right, 0 bot */
}

.result-text {
  color: rgb(52 58 63);
  font-size: 0.5em;
  margin: 0 1.5em;
  line-height: 1.35em;
}

.result-button {
  color: #3a484e;
  background-color: #89cff0;
  font-weight: normal;
  position: absolute;
  bottom: 10%;
  margin: 0 35%;
  border-radius: 10px;
  letter-spacing: 0;
  justify-self: center;
  z-index: 30;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .result-circle {
    width: 450px;
    height: 450px;
    grid-template-rows: 3.1em;
  }

  .result-title {
    font-size: 0.7em;
    margin: 2.7em auto 0; 
  }

  .result-text {
    font-size: 0.45em;
  }

  .result-button {
    padding: 15px 28px;
    bottom: 8%;
  }
}

@media only screen and (max-width: 800px) {
  .result-circle {
    width: 350px;
    height: 350px;
    grid-template-rows: 2em;
  }

  .result-title {
    font-size: 0.55em;
    margin: 2.1em auto 0; 
  }

  .result-text {
    font-size: 0.39em;
    margin: 0 1.7em;
    line-height: 1.2em;
  }

  .result-button {
    padding: 12px 20px;
    font-size: 16px;
    bottom: 7%;
  }
}

@media only screen and (max-width: 360px) {
  .result-circle {
    width: 325px;
    height: 325px;
    grid-template-rows: 1.9em;
  }

  .result-text {
    font-size: 0.385em;
    margin: 0 1em;
    line-height: 1.15em;
  }

  .result-button {
    padding: 12px 16px;
    font-size: 16px;
  }
}

/*********************************************
  New Month Screen
*********************************************/
.new-month-title {
  font-family: 'Chalkdust', Georgia, serif !important; /* to override themesheet*/
}

.new-month-button {
  font-weight: normal;
  margin: 0 35%;
  border-radius: 10px;
  letter-spacing: 0;
}

.new-month-text {
  line-height: 1;
  margin: 2% 25%;
  font-size: 0.7em;
}
@media only screen and (max-width: 800px) {
  .new-month-text {
    margin: 2% 20%;
  }
}
@media only screen and (max-width: 600px) {
  h3.month-screen {
    font-size: 1.2em !important;
    margin-bottom: 10px !important;
  }
  h6.month-screen {
    font-size: 0.8em !important;
    margin-bottom: 10px!important;
  }
  .new-month-button {
    margin: 0 20%;
  }
  .new-month-text {
    margin: 2% 5%;
    font-size: 0.55em;
  }
}
/*********************************************
  Losing Screen
 *********************************************/
#reason-lost {
  color: #ffa398 !important;
  font-size: 1.25em !important;
}

.positive-note {
  line-height: 0.95;
  margin: 0 20%;
  font-size: 0.7em;
}

.play-again {
  color: #ffc6bf;
  text-decoration: none;
  border-bottom: 5px dotted currentColor;
}

.learn-more {
  text-decoration: none;
  color: #eee;
  border-bottom: 4px dotted currentColor;
  font-size: 0.7em;
}

@media only screen and (max-width: 800px) {
  #reason-lost {
    font-size: 0.7em !important;
  }
  .positive-note {
    margin: 0% 12.5%;
    font-size: 0.4em;
  }
  .play-again {
    font-size: 0.7em;
  }
  .learn-more {
    font-size: 0.47em;
  }
}
@media only screen and (max-width: 600px) {
  .positive-note {
    margin: 0;
  }
}
/*********************************************
 Winning Screen
 *********************************************/
#great-job {
  color: #f1c7ce !important;
  font-size: 1.25em!important;
  line-height: 0.9;
}

#success > p {
  font-size: 0.65em;
  margin: 0 12.5%;
  line-height: 0.95;
}

#success > p > a {
  color: pink;
}

@media only screen and (max-width: 800px) {
  #great-job {
    font-size: 0.7em !important;
  }
  #success > p {
    margin: 0;
    font-size: 0.4em;
  }

}

@media only screen and (max-width: 600px) {

}

/*********************************************
  Timeline
 *********************************************/
.timeline {
  display: flex;
  flex-flow: column nowrap;
  width: 5%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 0;
}

.month {
  color: #608fad;
  font-weight: 600;
  font-size: 1.75em;
}

/*current month styling + animation*/
.current {
  background: #f7ebc4;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; 
  animation: fadein 3s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*previous month styling + animation*/
.previous {
  background: #f7ebc4;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; 
  animation: fadeout 2.5s linear forwards;
}

/*returns the month styling back to normal*/
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    background: none;
    color: #608fad;
  }
}

.month-meter {
  width: 8.5em;
  height: 5em;
  letter-spacing: 0.05em;
  color: #cfecf7;
  font-weight: 600;
  position: fixed;
  right: 4.5em;
  top: 0.9em;
  text-align: right;
}

#month-title {
  font-size: 2em;
}

#num-month {
  display: none;
}

.total-month {
  display: none;
}

/*RESPONSIVE*/
@media only screen and (max-width: 800px) {
  .timeline {
    display: none;
  }

  #month-title {
    display: none;
  }

  #num-month {
    display: inline-block;
    font-size: 2.6em;
  }

  .total-month {
    display: inline-block;
    color: #4a95ad;
  }

  .month-meter {
    right: 0;
    top: 0;
    padding: 1em;
  }
}



/*********************************************
  ANIMATIONS
 *********************************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
 
@keyframes rotateIn {
  from {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.prompt-load-animation {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
}

.prompt-exit-animation {
  animation-name: fadeOutDown;
  animation-duration: 2s;
  opacity: 0;
}

.result-load-animation {
  animation-name: fadeIn;
  animation-duration: 2.25s;
}

.result-exit-animation {
  animation-name: fadeOut;
  animation-duration: 2s;
  opacity: 0;
}

.rotateIn {
  animation-name: rotateIn;
  transform-origin: center;
  animation-duration: 1.25s;
}

.rotateOut {
  animation-name: rotateOut;
  transform-origin: center;
  animation-duration: 1s;
  opacity: 0;
}

.heartBeatAnimation {
  animation-name: heartBeat;
  animation-duration: 2.75s;
  animation-timing-function: ease-in-out;
}

.jackInTheBox {
  animation-name: jackInTheBox;
  animation-duration: 2s;
}