

.full-view { /* For title landing page, easier to position elements. */
  height:100%;
  width:100%;  
}

@media print { /* use this for rn to prevent peaking, when more time load elements dynamically instead all on html */
  * {
    display: none !important;
  }
}

/*.title {
  margin: 5% !important;
}*/

.disable-selection { /* disable text selection (make site more app-like and less like a document) */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Edge, Opera and Firefox */
}

/*********************************************
  Virus Sprite Animation
 *********************************************/
.spriteAnimation {
  animation: MoveUpDown 10s linear infinite;
  position: absolute;
  width: 10%;
  height: 10%;
}

@keyframes MoveUpDown {
  0%, 100% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
}

/*********************************************
  Navigation Bar
 *********************************************/
#navigation {
  position: fixed;
  z-index: 20;
  bottom: 0px;
  width: 100%;
  padding: 2em 0;
  text-align: center;
  font-family: 'Cochin', Georgia, serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

}

#navigation a {
/*  display: inline-block;*/
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
}


#navigation a:hover {
  text-decoration: underline;
}

/*********************************************
  Counters
 *********************************************/
#counters { /* container for all counters */
  position: fixed;
  padding: 1em;
  color: #f7ebc8;
}

#counters > div { /* spacing btwn interior div containers*/
  margin-bottom: 0.85em;
}

.counter-title {
  font-size: 1.25em;
  letter-spacing: 0.05em;
  border-bottom: 2px dotted rgba(247, 235, 299, 0.5);
  margin-bottom: 0.2em;
}

.counter-container { /* individual container for icon + numbers */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: left;
}

.counter-container-three { /* for percentage counter use */
  grid-template-columns: auto auto auto;
}

.counter-container > img:nth-of-type(1) { /* spacing after icon */
  padding-right: 0.4em;
}

.counter-icons {
  height: 50px;
  width: 50px;
}

.counter-data {
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.5em;
}

.counter-percent {
  font-weight: bold;
  font-size: 1.5em;
}

#deaths-counter {
  color: #fdaaaa;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .counter-title { 
    font-size: 1em;
    letter-spacing: 0.04em;
  }

  .counter-icons {
    height: 40px;
    width: 40px;
  }

  .counter-data {
    font-size: 1.35em;
  }

  .counter-percent {
    font-size: 1.35em;
  }
}

@media only screen and (max-width: 800px) {
  .counter-title { 
    display: none;
  }

  #counters > div { /* spacing btwn interior div containers*/
    margin-bottom: 0.25em;
  }

  .counter-icons {
    height: 35px;
    width: 35px;
  }

  .counter-data {
    font-size: 1.1em;
  }

  .counter-percent {
    font-size: 1em;
  }
}

@media only screen and (max-width: 360px) {
  .counter-icons {
    height: 28px;
    width: 28px;
  }

  .counter-data {
    font-size: 1em;
  }
}

/*********************************************
  Prompts & Answers
 *********************************************/
.prompt {
  padding-right: 15%;
  padding-left: 15%;
}

div.prompt > h6 { /* every prompt inside the .prompt div container */
  letter-spacing: 0.03em;
}

.question { /* "what will you do" "how will you respond" etc */
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

/* Answer Options Styling */
.option-section {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.option {
  font-size: 18px;
  cursor: pointer;
  padding-top:1.5%;
  transition: color 0.25s ease-out; /* when in hover state, change color easing out */
  -webkit-transition: color 0.1s ease-out;
}

.option:hover { /* change color when hovered */
  color: #90d4c6;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .prompt {
    padding-right: 2.5%;
    padding-left: 2.5%;
    font-size: 22px;
  }

  div.prompt > h6 { /* every prompt inside the .prompt div container */
    letter-spacing: 0.01em;
  }
}







/* Button Styling */
.slide_left:hover {
  box-shadow: inset 0 0 0 50px #ff5b77;
}

.button_slide {
  color: black;
  font-weight: bold;
  background-color: rgb(173, 216, 230);
  border-radius: 0px;
  padding: 18px 36px;
/*  display: inline-block;*/
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

/* Button Positioning */
.center-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.center-bottom-button {
  position: absolute;
  bottom: 10%;
  left: 35%;
  right: 35%;
} 

@media only screen and (max-width: 600px) {
  .center-bottom-button {
    bottom: 10%;
    left: 20%;
    right: 20%;
  }
}

.center-bottom-button2 { /*CHANGE NAME LATER*/
  position: absolute;
  left: 35%;
  right: 35%;
  top: 130%;
} 

@media only screen and (max-width: 600px) {
  .center-bottom-button2 { /*CHANGE NAME LATER*/
    left: 20%;
    right: 20%;
    top: 100%;
  }
}

/*Style Error Message*/
/* try to make the message somehow highlight again if user makes another mistake*/ 
#error {
  color: #ff6961;
  font-size: 0.5em;
}